/.idea
/venv
/workspace/
/experiments*/**/build*/
/experiments*/**/runs*/
/experiments/safecomp2021/search/search-ga/runs/
/experiments/safecomp2021/search/search-ga/backup-[0-9]*/
/experiments/safecomp2021/search/search-qd/runs/
/experiments/safecomp2021/search/search-qd/backup-[0-9]*/
/experiments/safecomp2021/search/search-ran/backup-[0-9]*/
/containers/twin/tcx/build/
